{% extends "base.html" %}
{% load static %}
{% block orders %}
    <div class="container">
        {% for order in orders %}
            <div class="col-sm">
                <h3>Заказ #{{ order.id }}</h3>
                {% for pizza in order.pizzas.all %}
                    <h4>{{ pizza.name }}</h4>
                    <img height="200px" src="media/{{ pizza.image }}" alt="Pizza image">
                {% endfor %}
            </div>
            <h2>Всего: {{ order.price }}грн</h2>

        {% endfor %}
    </div>

{% endblock %}